//- rambling: サイドバーに表示する関連サイトのリンク集

mixin rambling-sidebar-reference-link-list
        
    h6.rambling-sidebar-title 関連サイトのリンク集

    .rambling-profile-links
        ul
            li: a.rambling-reference-link(href="http://keystonejs.com/" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' + 'KeystoneJs公式サイト'
            li: a.rambling-reference-link(href="https://nodejs.org/en/docs/" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'Node.jsドキュメント'
            li: a.rambling-reference-link(href="https://docs.npmjs.com/all" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'npmドキュメント'
            li: a.rambling-reference-link(href="http://expressjs.com/en/guide/routing.html" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'Express.jsドキュメント'
            li: a.rambling-reference-link(href="https://docs.mongodb.com/manual/" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'MongoDBドキュメント'
            li: a.rambling-reference-link(href="http://mongoosejs.com/docs/" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'mongooseドキュメント'
            li: a.rambling-reference-link(href="https://pugjs.org/api/getting-started.html" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'pugドキュメント'
            li: a.rambling-reference-link(href="https://sass-lang.com/documentation/" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'Sassドキュメント'
            li: a.rambling-reference-link(href="https://cheerio.js.org/" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'Cheerioドキュメント'
            li: a.rambling-reference-link(href="http://yeoman.io/authoring/index.html" rel="nofollow" target='blank'): i.fas.fa-external-link-alt=' ' +  'Yeomanドキュメント'
