extends ../layouts/default

//- rambling: include mixin
include ../mixins/rambling-post-sharing-buttons
include ../mixins/rambling-post-content
include ../mixins/rambling-post-list-card

block content
		
	//- rambling: トップページ上部のアイキャッチコンテンツをインクルード
	include ../includes/rambling-top-eyecatch.pug

	//- rambling: 記事ページコンテンツ
	h4 最新の記事
	+rambling-post-content

	//- rambling: SNSシェアボタン
	+rambling-post-sharing-buttons

	hr.rambling-post-separator

	//- rambling: その他の新着記事
	h4.rambling-other-posts-headline その他の新着記事
	.blog.list-group
	each post in data.posts
		+rambling-post-list-card(post)