#footer {
    margin-top: 30px;
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.rambling-footer-nav-row {
    margin-left: 0px;
    margin-right: 0px;
}

.rambling-footer-nav-link {
    margin-top: 2px;
    margin-bottom: 1px;
}

.rambling-footer-nav-link a {
    color: darkgray;
    font-size: 14px;
}

.rambling-copyrights {
    text-align: center;
    font-size: 75%;
    color: #999999;
    margin-top: 10px;
}

.rambling-mynameis {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.7em;
}

.rambling-mynameis a {
    color: darkslategray;
}
