.ampstart-sidebar-nav {
    font-weight: bold;
}

.ampstart-dropdown-item {
    text-indent: 1em;
}


/* サイドバー内のプロフィール表示 */

.rambling-profile-links {
    margin: 5px 0px;
}

.rambling-profile-links ul {
    list-style: none;
}

.rambling-profile-links ul li {
    margin: 3px 0px;
}

.rambling-sidebar-title {
    margin-bottom: 10px;
}
