// プライバシーポリシーページ
.rambling-contact-praivacy-policy-link {
    margin : 10px;
    font-size: 0.9em;
}

.rambling-privacy-policy-content {
    p {
        font-size: 0.9em;
    }
    h4 {
        margin-top: 30px;
    }
}