.rambling-post-list-card {
    padding-top: 4px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    border: 1px solid #f1f1f1;
}

.rambling-post-headline {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.rambling-lead {
    font-size: 0.8em;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1.4;
}

.rambling-post-list-card-inner {
    background: #FFF;
    padding-left: 0px;
    margin-bottom: 0px;
}

.rambling-excerpt-brief~p {
    font-size: 0.9em;
    color: #a4b1c1;
}
