/*! Bassplate | MIT License | http://github.com/basscss/bassplate */

.editor,
.editor .gutter {
    background-color: #fff;
    color: #555
}

.editor .indent-guide,
.editor .invisible-character {
    color: rgba(85, 85, 85, .2)
}

.editor .wrap-guide {
    background-color: rgba(85, 85, 85, .2)
}

.editor .gutter {
    color: #555;
    background: #fff
}

.editor .fold-marker:after,
.editor .gutter .line-number.folded,
.editor .gutter .line-number:after {
    color: #e87b00
}

.editor .invisible {
    color: #555
}

.editor .selection .region {
    background-color: #e1e1e1
}

.editor.is-focused .cursor {
    border-color: #000
}

.editor.is-focused .selection .region {
    background-color: #afc4da
}

.editor.is-focused .line-number.cursor-line-no-selection,
.editor.is-focused .line.cursor-line {
    background-color: rgba(255, 255, 134, .34)
}

.editor .comment {
    color: #998;
    font-style: italic
}

.editor .string {
    color: #d14
}

.editor .source .string .meta.embedded.line,
.editor .source .string .source {
    color: #5a5a5a
}

.editor .source .string .punctuation.section.embedded,
.editor .source .string .punctuation.section.embedded .source {
    color: #920b2d
}

.editor .constant.numeric {
    color: #d14
}

.editor .constant.character,
.editor .constant.language,
.editor .constant.other {
    color: #606aa1
}

.editor .constant.symbol {
    color: #990073
}

.editor .constant.numeric.line-number.find-in-files .match {
    color: rgba(143, 190, 0, .63)
}

.editor .variable {
    color: teal
}

.editor .variable.parameter {
    color: #606aa1
}

.editor .keyword {
    color: #222;
    font-weight: 700
}

.editor .keyword.unit {
    color: #458
}

.editor .keyword.special-method {
    color: #0086b3
}

.editor .storage,
.editor .storage.type {
    color: #222
}

.editor .entity.name.class,
.editor .entity.other.inherited-class {
    text-decoration: underline;
    color: #606aa1
}

.editor .entity.name.function {
    color: #900
}

.editor .entity.name.tag {
    color: teal
}

.editor .entity.other.attribute-name {
    color: #458;
    font-weight: 700
}

.editor .entity.name.filename.find-in-files {
    color: #e6db74
}

.editor .support.constant,
.editor .support.function,
.editor .support.type {
    color: #458
}

.editor .support.class {
    color: teal
}

.editor .invalid {
    color: #f8f8f0;
    background-color: #00a8c6
}

.editor .invalid.deprecated {
    color: #f8f8f0;
    background-color: #8fbe00
}

.editor .meta.structure.dictionary.json>.string.quoted.double.json,
.editor .meta.structure.dictionary.json>.string.quoted.double.json .punctuation.string {
    color: navy
}

.editor .meta.structure.dictionary.value.json>.string.quoted.double.json {
    color: #d14
}

.editor .meta.diff,
.editor .meta.diff.header {
    color: #75715e
}

.editor .css.support.property-name {
    font-weight: 700;
    color: #333
}

.editor .css.constant {
    color: #099
}

.editor .source.gfm {
    color: #444
}

.editor .gfm .markup.heading {
    color: #111
}

.editor .gfm .link,
.editor .gfm .variable.list {
    color: #888
}

.editor .markdown .paragraph {
    color: #444
}

.editor .markdown .heading {
    color: #111
}

.editor .markdown .link,
.editor .markdown .link .string {
    color: #888
}

.editor .search-results .marker .region {
    background-color: transparent;
    border: 1px solid #999
}

.editor .search-results .marker.current-result .region {
    border: 1px solid #000
}

.bracket-matcher {
    background-color: #c9c9c9;
    opacity: .7;
    border-bottom: 0 none
}

.editor .tag.block {
    display: inline
}