extends ../../layouts/default

block content
	.container
		h1 Error (500)
		p.lead.
			当サイトをご利用いただき、ありがとうございます。
			ただいまサイトが混み合っており、ページが閲覧しにくい状態となっております。
			大変申し訳ございませんが、しばらくお時間をおいて再度アクセスいただきますようお願いいたします。
			お急ぎのところご迷惑をお掛けいたしますが、何卒ご理解いただきますようお願いいたします。