//- rambling: トップ画面に表示するアイキャッチコンテンツ
.rambling-top-eyecatch
    img.img-responsive.rambling-top-eyecatch-img(src="/images/profile/top-eyecatch.png" alt="アイキャッチ")
    H1.rambling-top-eyecatch-headline!=ramblingTextTopEyecatch